.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dark {
  display: none;
}

.abc {
  position: relative;
}

.abc:before {
  width: 40px;
  height: 20px;
  background: black;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.abc:after {
  width: 15px;
  height: 15px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 3px;
  content: "";
  transition: 0.4s;
}

.dark:checked + .abc:after {
  left: 22px;
}
.dark:checked + .abc:before {
  background: rgb(232, 226, 226);
}
